  @import "./variables/index.scss";


  h1 {
    color: brown;
    //background-color: green;
    font-family: Georgia, 'Times New Roman', Times, serif
  }

  button {
    color: $secondary;
    background-color: $light;
  }

  .reverse {
    color: red;
    background-color: $primary;
  }
